.all-news-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Article par défaut */
.news-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-content {
  padding: 10px;
}

.news-card:hover {
  transform: translateY(-5px);
}

/* Article mis en avant */
.news-card.featured {
  grid-column: span 2;
  grid-row: span 2;
}

.news-card.featured img {
  height: 300px;
}

.news-card.featured .news-content h3 {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .news-card.featured {
    grid-column: span 1;
    grid-row: span 1;
  }

  .news-card.featured img {
    height: 180px;
  }
}
